<?xml version="1.0" standalone="yes"?>
<svg xmlns="http://www.w3.org/2000/svg">
  <foreignObject x="0" y="0" width="100%" height="100%">
    <body xmlns="http://www.w3.org/1999/xhtml">
       <table >
            <thead>
              <tr>
                <th >Repo</th>
                <th>Stars</th>
                <th>Forks</th>
              </tr>
            </thead>
            <tbody>
              {% for repo in data %}

              <tr>
                <td >{{repo.name}}</td>
                <td >{{repo.stargazers_count}}</td>
                <td >{{repo.forks}}</td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
    </body>
  </foreignObject>
  <!-- ... -->
</svg>